apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-game-deployment
  namespace: react-game-cd
spec:
  selector:
    matchLabels:
      app: react-game
  replicas: 2
  template:
    metadata:
      labels:
        app: react-game
    spec:
      containers:
      - name: react-game-container
        image: jaycloud336/malgus-game-app:v1.0.0
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5